#top {
    background-color: #C55547;
    color: white;
    padding: 10px 50px 10px 10px;
    text-align: right;
}
#main-menu {
    margin-top: 10px;
    background-color: #222;
    padding: 7px 15px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
#main-menu ul{
    margin-bottom: 0;
}
#main-menu a,
#top a {
    color: white;
}
#main-menu {
    background-color: #666;
}
h1 {
    color: #843229;
}

#messages {
    margin-top: 0px;
}