{% extends "main.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="span8" id="main-column">
  <div id="tzone-messages">
    <!-- ui stuff to go here -->
    
    <div id="flash-messages"></div>
  </div>

  <ul class="nav nav-tabs" id="main-tabs" data-tabs="tabs">
    <li class="active"><a href="#map-wrapper" data-toggle="tab">Map - Add Contacts</a></li>
    <li><a href="#times-wrapper" data-toggle="tab" class="times">View times side by side</a></li>
  </ul>  
  <div class="tab-content">
    <div id="map-wrapper" class="tab-pane active">
      <div id="map-canvas" style="height: 300px; width: 100%"></div>
      <div id="map-message" class="alert alert-error hide">
	<button type="button" class="close">&times;</button>
	<h4 class="heading"></h4>
	<p class="message"></p>
      </div>
    </div>
    <div id="times-wrapper" class="tab-pane">
      <p class="explain">Click the <i class="icon-plus icon"></i> on one of your contacts to add them to this view.</p>
    </div>
  </div>

</div>

<div class="span4" id="secondary-content">
  <h2>My Contacts</h2>
  <div id="friendlist"></div>
  <script type="text/javascript">
    <!--
	google_ad_client = "ca-pub-4954048601102048";
	/* Big Fat Ads */
	google_ad_slot = "9792083492";
	google_ad_width = 300;
	google_ad_height = 600;
    //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>


<div id="userAddModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="userAddModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="userAddModalLabel">Name your new contact</h3>
  </div>
  <div class="modal-body">
    <label>New Contact's Name:</label><input type="text" class="new-users-name" />
    <p class="alert alert-error hide">You need to name your walrus buddy.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save-name">Save changes</button>
  </div>
</div>

{% endblock %}
{% block optional_scripts %}
   <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&sensor=true"></script>
   <script type="text/javascript" src="/static/js/UserGeoLocation.js"></script>
   <script type="text/javascript" src="/static/js/dateUtils.js"></script>
   <script type="text/javascript" src="/static/js/tzone.js"></script>
   <script type="text/javascript" src="/static/js/TZoneApp.TZoneContact.js"></script>
   <script type="text/javascript" src="/static/js/TZoneApp.TZoneContactList.js"></script>
   <script type="text/javascript" src="/static/js/TZoneApp.TZoneContactListView.js"></script>
   <script type="text/javascript" src="/static/js/TZoneApp.TZoneContactView.js"></script>
   <script type="text/javascript" src="/static/js/TZoneApp.TZoneTimesView.js"></script>
   <script type="text/javascript" src="/static/js/map.js"></script>
   <script src="/static/js/TZoneMessages.js"></script>

{% endblock %}
