{% extends "main.html" %}
{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
<div class="span4" id="admin-menu">
  <h3>Admin Menu</h3>
  <ul>
    <li><a href="#">list users</a></li>
    <li><a href="#">add user</a></li>
  </ul>
</div>

<div class="span8" id="admin-content1">
  <h4>User List</h4>
  
</div>
{% endblock %}
{% block optional_scripts %}
<script id="user-list-item" type="text/template">
  <span><%= firstName %> <%= lastName %></span>
  <span class="change btn btn-mini">edit</span>
</script>

<script id="user-form" type="text/template">
  form here
</script>

<script id="userlistadd" type="text/template">
  add form here
</script>


<script type="text/javascript" src="/static/js/useradmin.js"></script>

{% endblock %}
